#control-panel {
  position: absolute;
  background: #fff;
  top: 20px;
  right: -251px;
  width: 260px;
  height: 420px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 10px 10px 28px -5px rgba(0,0,0,0.5);
  -moz-box-shadow: 10px 10px 28px -5px rgba(0,0,0,0.5);
  box-shadow: 10px 10px 28px -5px rgba(0,0,0,0.5);
  transition: 1s;
}
#control-panel:hover {
  right: 20px;
}
#control-panel > #panel-header > h1 {
  font-family: 'Segoe UI';
  font-size: 20px;
  font-weight: normal;
  color: #707070;
  text-align: center;
  border: 1px solid #707070;
  margin: 10px 10px 0 10px;
  padding: 2px 0
}
.slider-block {
  margin: 5px 19px 4px 19px;
}
.slider-block > span {
  margin-top: 0;
  margin-right: 10px;
  font-family: 'Segoe UI';
  font-size: 12px;
  font-weight: normal;
  color: #707070;
}
.slider-block > .slider {
  -webkit-appearance: none;
  width: 80%;
  height: 2px;
  background: rgba(112, 112, 112, 0.5);
  outline: none;
}
.slider-block > .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 18px;
  background: #FFFFFF;
  border: 1px solid #707070;
  cursor: pointer;
}
.slider-block .number-input {
  margin-top: -7px;
  width: 36px;
  border: 1px solid #707070;
  height: 24px;
  font-family: 'Segoe UI';
  font-size: 10px;
  text-align: center;
  color: #707070;
}
.checkbox-block {
  margin: 5px 32px 0px 32px;
  font-family: 'Segoe UI';
  font-size: 12px;
  text-align: center;
}
.checkbox {
  margin-right: 0;
}
.checkbox-label {
  margin-right: 15px;
}
.background-block {
  text-align: center;
}
.background-block > input{
  background: none;
}
.background-label {
  margin-right: 12px;
  font-family: 'Segoe UI';
  font-size: 12px;
  color: #707070;
}
.buttons-block {
  margin: 9px 47px 9px 47px;
  text-align: center;
}
.buttons-block > button {
  text-align: center;
  background-color: #fff;
  border: 1px solid #707070;
  color: #707070;
  width: 72px;
  padding: 5px 10px 4px 10px;
  margin: 0 3px;
}
.buttons-block > button:active {
  background-color: #ccc
}
.colorpicker-block {
  text-align: center;
}
.colorpicker-block > input {
  width: 30px;
  border: none;
  background: none;
  margin: 0 15px 5px 15px;
}